body {
    margin: 0;
    background: #dddddd;
    cursor: default;
}

div#wrapper {
    margin: 8px auto;
    width: 800px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    box-shadow: 0 0 8px #888888;
    -moz-box-shadow: 0 0 8px #888888;
    -o-box-shadow: 0 0 8px #888888;
    -webkit-box-shadow: 0 0 8px #888888;
    -ms-box-shadow: 0 0 8px #888888;
    background: white;
}

div#header {
    padding: 8px;
}

div#main {
    min-height: 520px;
}

div#footer {
    padding: 8px;
}

div#header > h1 {
    margin: 0;
    text-align: center;
    color: #888888;
}

object#kingdom-rush-gamefile {
    margin: 0 50px;
}

object#the-last-castle-gamefile {
    margin: 0 40px;
}

div#footer > p {
    margin: 0;
    color: #888888;
}

div#footer p > a {
    text-decoration: none;
    color: #888888;
}

div#footer p > a:hover {
    text-decoration: underline;
}
