/* ~!@#$%^&*    whole    *&^%$#@!~ */

body {
    margin: 0;
    background: #dddddd;
    cursor: default;
}

html, canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: optimize-contrast;
  image-rendering: -moz-crisp-edges; /* FF */
  image-rendering: -webkit-optimize-contrast; /* Webkit */
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
}

canvas {
    display: block;
    margin: 32px 0 8px;
    border: 4px solid #888888;
    background: white;
}


/* ~!@#$%^&*    main structure    *&^%$#@!~ */

div#wrapper {
    margin: 8px auto;
    width: 800px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    box-shadow: 0 0 8px #888888;
    -moz-box-shadow: 0 0 8px #888888;
    -o-box-shadow: 0 0 8px #888888;
    -webkit-box-shadow: 0 0 8px #888888;
    -ms-box-shadow: 0 0 8px #888888;
    background: white;
}

div#jaws_wrapper {
    margin: 8px auto;
    width: 800px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    background: white;
}

div#header {
    padding: 8px;
}

div#main {
    padding: 8px;
    min-height: 520px;
}

div#footer {
    padding: 8px;
}


/* ~!@#$%^&*    header    *&^%$#@!~ */

div#header > h1 {
    margin: 0;
    text-align: center;
    color: #888888;
}


/* ~!@#$%^&*    main    *&^%$#@!~ */

object#kingdom-rush-gamefile {
    margin: 0 50px;
}

object#the-last-castle-gamefile {
    margin: 0 40px;
}

span#info {
    font-size: 24px;
    color: #888888;
}


/* ~!@#$%^&*    footer    *&^%$#@!~ */

div#footer > p {
    margin: 0;
    color: #888888;
}

div#footer p > a {
    text-decoration: none;
    color: #888888;
}

div#footer p > a:hover {
    text-decoration: underline;
}
